<section class="about">
		<h1 class="text-center mb-5">About </h1>
		<p>
			There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, 
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro voluptas suscipit sequi corporis earum? Doloremque consequatur mollitia cumque. Blanditiis sed officia ratione, quidem sint sequi voluptates nostrum repudiandae temporibus. Pariatur?
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum odit soluta, exercitationem reprehenderit repudiandae natus molestiae dignissimos vel inventore impedit mollitia sunt molestias, laborum explicabo voluptatum optio officia quod iure.
		</p>
		<div class="follow text-center">
			<h1>Follow Us</h1>
			<a href="#">Facebook</a>
			<a href="#">YouTube</a>
			<a href="#">Instagram</a>
			<a href="#">Twitter</a>

		</div>
	</section>